$global-margin: 16pt;
$global-font: 'Raleway', sans-serif;

$img-root-dir: '../img';
$photos-root-dir: $img-root-dir + '/photos';
$icon-root-dir: $img-root-dir + '/icons';

html {
    height: 100%;
    background-color: black;
}

// Fill some width of the stage (from the left)
@mixin fill_stage($width) {
    $margin: 36pt;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:0;
    padding:0;
    height: 100%;
    width: $width;
}

// Ease all changed properties in the alloted time
@mixin ease-all($time) {
    -webkit-transition: all $time ease;  
    -moz-transition: all $time ease;  
    -o-transition: all $time ease;  
    -ms-transition: all $time ease;  
    transition: all $time ease;
}

// Ease whatever transition is provided
@mixin ease($stuff) {
    -webkit-transition: $stuff ease;  
    -moz-transition: $stuff ease;  
    -o-transition: $stuff ease;  
    -ms-transition: $stuff ease;  
    transition: $stuff ease;
}

// Do the provided animation
@mixin animate($stuff...) {
    -webkit-transition: $stuff;  
    -moz-transition: $stuff;  
    -o-transition: $stuff;  
    -ms-transition: $stuff;  
    transition: $stuff;
}

// Contains everything
body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

#hamburger {
    $patty-width: 32pt;
    $patty-color: #ffffff;
    $opacity: 0.5;
    $opacity-diff: 0.2;

    position: fixed;
    z-index: 101;
    margin: $global-margin;
    width: 0pt;
    top: 0;
    left: $patty-width/2;  

    @include ease-all(0.2s);

    // Represents each slice of the hamburger
    div {
        background-color: $patty-color;
        opacity: $opacity;
        margin: 4pt;
        width: 100%;
        height: 4pt;
    }

    // When we hover on the menu...
    &:hover {
        // Update cursor
        cursor: pointer;

        // Brighten the patties
        div {
            opacity: $opacity + $opacity-diff;
        }
    }

    // Toggle to show/hide hamburger menu. Make them important
    // so they override the default styles.
    @at-root .hamburger-active {
        width: $patty-width !important;
        left: 0 !important; 
    }
}

// Opened via the hamburger button. Content directory for the entire
// site. Also contains contact information.
#nav {
    z-index: 100;
    @include fill_stage(100%);
    @include animate(visibility 0s linear 0.5s, top 0.5s ease);
    position: fixed;
    visibility: hidden; 
    background-image: linear-gradient(#66ccff, #cc99ff);
    overflow: scroll;
    top: -100%;
    box-shadow: 2pt 0pt 8pt 0pt rgba(0,0,0,0.2);

    $options-vertical-margin: 36pt;
    $options-horizontal-margin: 24pt;

    // Top-level of directory (e.g. projects, blog, etc.)
    h1 {
        font-family: $global-font;
        font-weight: 600;
        font-style: italic;
        text-align: left;
        color: white;
        font-size: 14pt;
    }

    // Links to actual content and categorized by top-level
    h2 {
        font-weight: 100;
        font-size: 12pt;
    }

    > div {
        margin-top: 36pt;
        margin-bottom: 36pt;
        margin-left: auto;
        margin-right: auto;
    }
    
    // Contains contact information
    #contact {
        padding-bottom: 8pt;
        margin-bottom: 24pt;
        border-bottom: 1pt solid rgba(255,255,255, 0.3);
        font-family: $global-font;
        color: white;
        * {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #options {
        position: relative;
        width: 100%;
        margin-top: $options-vertical-margin;
        margin-bottom: $options-vertical-margin;

        > * {
            font-family: $global-font;
            text-align: center;
        }

        h1 {
            color: #f0f0f0;
        }

        h2 {
            text-align: center;
            vertical-align: middle;
            margin-top: 16pt;
            margin-bottom: 16pt;
            color:  #e6e6ff;

            &:hover {
                cursor: pointer;
                color: #000000;
            }
        }

        div {
            overflow: scroll;
            max-height: 240pt;
            text-align: left;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            font-size: 0;
            background-color: orange;
            box-shadow:         inset 0pt 5pt 4pt -4pt #303030,
            inset 0pt -4pt 4pt -4pt #303030;

            div {
                display: inline-block;
                border-radius: 4pt;
                margin-top: 16pt;
                margin-bottom: 16pt;
                margin-left: 4pt;
                margin-right: 4pt;
                height: 208pt;
                width: 160pt;
                background-color: white;
                box-shadow: #a0a0a0 0pt 1pt 1pt;
                white-space: normal;
                vertical-align: text-bottom;

                > * {
                    padding: 0;
                    margin-left: 16pt;
                    margin-right: 16pt;
                    margin-bottom: 8pt;
                    &:first-child {
                        margin-top: 16pt;
                    }   
                    &:last-child {
                        margin-bottom: 16pt;
                    }
                }

                h1 {
                    color: black;
                    font-style: normal;
                    font-size: 12pt;
                }

                p {
                    color: black;
                    font-size: 10pt;
                }

                &:first-child {
                    margin-left: 8pt;
                }

                &:last-child {
                    margin-right: 8pt;
                }
            }
        }
    }

    // Toggle to show/hide the nav bar. Make them important
    // so they override the default styles.
    @at-root .nav-active {
        visibility: visible !important;
        top: 0 !important;
        opacity: 1.0 !important;
        transition-delay: 0s !important;
    }
}

#headercontainer {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url($photos-root-dir + '/nha_trang.jpg');
    background-size: cover;
    background-attachment: fixed;

    #header {
        position: fixed;
        top: 50%;
        right: 0%;
        transform: translate(0, -50%);
        $font-color: #444444;
        $title-weight: 500;
        $description-weight: 400;
        height: auto;
        padding: 32pt;
        
        * {
            display: inline-block;
            width: 100%;
            text-align: right;
        }

        #title {
            position: relative;
            padding-bottom: 16pt;
            color: $font-color;
            font-family: $global-font;
            font-weight: $title-weight;
            font-size: 24pt;
        }
    
        #description { 
            padding-bottom: 16pt;
        }

        #description, #created {            
            color: $font-color;
            font-family: $global-font;
            font-weight: $description-weight;
            font-size: 12pt;
        }

        #created {
            @extend #description;
            font-size: 10pt;
        }
    }
}

#contentcontainer {
    z-index: 1;
    position: relative;
    background-color: black;
    height: 100%;

    $content-vertical-padding: 24pt;
    $content-horizontal-padding: 24pt;

    #content {
        $font-color: #e0e0e0;
        padding-top: $content-vertical-padding;
        padding-bottom: $content-vertical-padding;
        margin-left: auto;
        margin-right: auto;        
        max-width: 600pt;
    
        div {
            margin-left: $content-horizontal-padding;
            margin-right: $content-horizontal-padding;
        }

        #finally {
            p {
                font-family: $global-font;
                color: $font-color;
            }
            margin-bottom: 90pt;
        }
    }

    #map {
        background-color: white;
        height: 100%;
        width:100%;
    }
}

.ui-draggable-handle{
    -ms-touch-action:none;
    touch-action:none
}