$global-margin: 16pt;
$global-font: 'Raleway', sans-serif;

$img-root-dir: '../img';
$photos-root-dir: $img-root-dir + '/photos';
$icon-root-dir: $img-root-dir + '/icons';

html {
    height: 100%;
    background-color: black;
}

// Fill some width of the stage (from the left)
@mixin fill_stage($width) {
    $margin: 36pt;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:0;
    padding:0;
    height: 100%;
    width: $width;
}

// Ease all changed properties in the alloted time
@mixin ease-all($time) {
    -webkit-transition: all $time ease;  
    -moz-transition: all $time ease;  
    -o-transition: all $time ease;  
    -ms-transition: all $time ease;  
    transition: all $time ease;
}

// Ease whatever transition is provided
@mixin ease($stuff) {
    -webkit-transition: $stuff ease;  
    -moz-transition: $stuff ease;  
    -o-transition: $stuff ease;  
    -ms-transition: $stuff ease;  
    transition: $stuff ease;
}

// Do the provided animation
@mixin animate($stuff...) {
    -webkit-transition: $stuff;  
    -moz-transition: $stuff;  
    -o-transition: $stuff;  
    -ms-transition: $stuff;  
    transition: $stuff;
}

@mixin disable-hightlight() {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

// Contains everything
body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

$patty-margin: 4pt;
$patty-height: 4pt;
$hamburger-height: 3*($patty-height) + (4*$patty-margin);
#hamburger {
    $patty-width: 32pt;
    $patty-color: #ffffff;
    $opacity: 0.5;
    $opacity-diff: 0.2;

    position: fixed;
    z-index: 101;
    margin: $global-margin;
    width: 0pt;
    top: 0;
    left: $patty-width/2;  

    @include ease-all(0.2s);

    // Represents each slice of the hamburger
    div {
        background-color: $patty-color;
        opacity: $opacity;
        margin: $patty-margin;
        width: 100%;
        height: $patty-height;
    }

    // When we hover on the menu...
    &:hover {
        // Update cursor
        cursor: pointer;

        // Brighten the patties
        div {
            opacity: $opacity + $opacity-diff;
        }
    }

    // Toggle to show/hide hamburger menu. Make them important
    // so they override the default styles.
    @at-root .hamburger-active {
        width: $patty-width !important;
        left: 0 !important; 
    }
}

// Opened via the hamburger button. Content directory for the entire
// site. Also contains contact information.
#topics {
    @include fill_stage(100%);

    // A funky ass background
    background-image: linear-gradient(#66ccff, #cc99ff);
    overflow: scroll;
    
    font-family: $global-font;

    // Display topics as a flexbox
    display: flex;
    flex-direction: column;  // organize flex items vertically
    flex-wrap: nowrap;
    justify-content: center; // center flex items vertically

    // We want the headers to match the hamburger menu in height
    $header-height: $hamburger-height + 2*$global-margin;

    // Each topic (includes header and content container)
    > div {
        width: 100%;
        overflow: hidden;

        display: flex;          // each topic is also a flexbox
        flex-direction: column; // organize flex items vertically

        // Peeks the topic (i.e. shows the header, but hides the content)
        &.peek {
            height: 2*$global-margin + $header-height;
            opacity: 1;

            > .content {
                height: 0vh;
            }

        }

        // Shows the topic (i.e. shows the header and the content)
        &.show {
            height: 100vh;
            opacity: 1;

            > .content {
                height: 100vh;
            }
        }

        // Hides the topic (i.e. hides the header and the content)
        &.hide {
            height: 0vh;
            opacity: 0;
        }

        // Add animations so the peek, hide, show actions look pretty
        @include animate(height 0.2s ease);

        > * {
            margin: auto;
            width: 100%;
        }

        // Options header (e.g. Projects, Blog)
        > h1 {
            // Text styling
            font-size: 16pt;
            font-weight: 400;
            text-align: center;
            color: #ffffff;

            // Don't let this flex box shrink this on its own
            flex-shrink: 0;
            overflow: hidden;

            // Controls height of this element. It will always be visible
            // if the containing topic is visible, so set and forget this
            // height.
            line-height: $hamburger-height + 2*$global-margin;

            cursor: pointer;  // Make the header look clickable on hover
        }

        // Options container
        > div {
            // This is where all the topic content resides, so make it 
            // scrollable incase there is a lot to show.
            overflow: scroll;      
            height: 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            // More beautification
            background-color: orange;      
            @include animate(height 0.2s ease);

            // Items in container
            div {
                flex-shrink: 1;
                flex-grow: 1;
                flex-basis: auto;
                justify-content: center;

                margin: 8pt;
                max-width: 92vw;
                width: 220pt;

                height: auto;
                border: 1pt dashed white;
                border-radius: 4pt;
                background-color: white;
                white-space: normal;

                > * {
                    @include disable-hightlight();
                    padding: 0;
                    margin-left: 16pt;
                    margin-right: 16pt;
                    margin-bottom: 8pt;
                    &:first-child {
                        margin-top: 16pt;
                    }   
                    &:last-child {
                        margin-bottom: 16pt;
                    }
                }

                // Item title
                h1  {
                    color: #cc99ff;
                    font-style: normal;
                    font-size: 12pt;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                h2 {
                    color: black;
                    font-size: 10pt;
                }

                h3 {
                    color: #66ccff;
                    font-size: 10pt;
                    font-weight: 200pt;
                }

                p {
                    color: black;
                    font-size: 10pt;
                }
            }
        }
    }
    

    // Toggle to show/hide the nav bar. Make them important
    // so they override the default styles.
    @at-root .nav-active {
        visibility: visible !important;
        top: 0 !important;
        opacity: 1.0 !important;
        transition-delay: 0s !important;
    }
}