html {
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#hamburger {
  position: fixed;
  z-index: 101;
  margin: 16pt;
  width: 0pt;
  top: 0;
  left: 16pt;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#hamburger div {
  background-color: #ffffff;
  opacity: 0.5;
  margin: 4pt;
  width: 100%;
  height: 4pt;
}
#hamburger:hover {
  cursor: pointer;
}
#hamburger:hover div {
  opacity: 0.7;
}
.hamburger-active {
  width: 32pt !important;
  left: 0 !important;
}

#topics {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#66ccff, #cc99ff);
  overflow: scroll;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
#topics > div {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
  -ms-transition: height 0.2s ease;
  transition: height 0.2s ease;
}
#topics > div.peek {
  height: 92pt;
  opacity: 1;
}
#topics > div.peek > .content {
  height: 0vh;
}
#topics > div.show {
  height: 100vh;
  opacity: 1;
}
#topics > div.show > .content {
  height: 100vh;
}
#topics > div.hide {
  height: 0vh;
  opacity: 0;
}
#topics > div > * {
  margin: auto;
  width: 100%;
}
#topics > div > h1 {
  font-size: 16pt;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  flex-shrink: 0;
  overflow: hidden;
  line-height: 60pt;
  cursor: pointer;
}
#topics > div > div {
  overflow: scroll;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: orange;
  -webkit-transition: height 0.2s ease;
  -moz-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
  -ms-transition: height 0.2s ease;
  transition: height 0.2s ease;
}
#topics > div > div div {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
  margin: 8pt;
  max-width: 92vw;
  width: 220pt;
  height: auto;
  border: 1pt dashed white;
  border-radius: 4pt;
  background-color: white;
  white-space: normal;
}
#topics > div > div div > * {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  padding: 0;
  margin-left: 16pt;
  margin-right: 16pt;
  margin-bottom: 8pt;
}
#topics > div > div div > *:first-child {
  margin-top: 16pt;
}
#topics > div > div div > *:last-child {
  margin-bottom: 16pt;
}
#topics > div > div div h1 {
  color: #cc99ff;
  font-style: normal;
  font-size: 12pt;
}
#topics > div > div div h1 a {
  text-decoration: none;
}
#topics > div > div div h1 a:hover {
  text-decoration: underline;
}
#topics > div > div div h2 {
  color: black;
  font-size: 10pt;
}
#topics > div > div div h3 {
  color: #66ccff;
  font-size: 10pt;
  font-weight: 200pt;
}
#topics > div > div div p {
  color: black;
  font-size: 10pt;
}
.nav-active {
  visibility: visible !important;
  top: 0 !important;
  opacity: 1 !important;
  transition-delay: 0s !important;
}

/*# sourceMappingURL=style.css.map */
